.typing {
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #4b2bee;
    width: 0;
    animation: typing 1.2s steps(7, end) forwards, blink 0.7s infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 7ch; }
}

@keyframes blink {
    50% { border-color: transparent; }
}
